@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700|Roboto+Slab:400,500,600,700&display=swap');

/* Rem-compliant site-wide font styles*/

html { 
    font-size: 62.5%; /* 10px */
}
header {
    margin-bottom: 7.5vh;
}

/* Styles used on multiple pages */

p{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5rem;    
    color: #fff;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.navbar{
    position: fixed;
    min-height: 1.75rem;
    top: 0%;
    width: 100%;
    z-index: 999999;
    margin-bottom: 10vh;
}
.navbar a{
    text-decoration: none;
    font-size: 1.5rem;
}
.navbar a:hover{
    text-transform: uppercase;
}
.bg-img{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../images/caesar_hero_img.jpg");
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
    }
.hero-txt{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-family: 'Merriweather', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}
.footer-style{    
    font-family: 'Merriweather', sans-serif;
    font-size: 1rem;
    overflow: hidden;
    color: #fff;
    width: 100%;
    height: 3vh;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

/* index.html styles */


.theme-bg{
    font-family: 'Merriweather', sans-serif;
    background-color: #65272c;
    color: #fff;
}

.col-style{
    font-family: 'Merriweather', sans-serif;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 2.5vh;
}
.col-style a{
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
}
.col-style a:hover{
    text-transform: uppercase;
}
.col-header{

    color:#fff;
    padding-bottom: 1rem, 0rem, 1rem;
}
.cta-text{
    color: #fff;
}
.cta-btn-style{
    font-family: 'Merriweather', sans-serif;
    min-height: 2.5vh;
    min-width: 5vw;
    font-size: 1.2rem;
    padding: 0.75rem, 0.5rem, 0.75;
    text-align: center;
}

/* read-now.html specific styles */

.read-icon-styling{
    color: #65272c;
    background-color: #fff;
    margin: 0rem;
    padding: 0rem;
}

.chapter{   
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    min-width: 75vw;
    min-height: 10vh;
    background-color: #fff;
    color: #000000;
    border: 0.3rem;
    border-radius: 0.5rem;
}
.chapter p{
    margin: 1rem;
    color: #000;
    font-size: 1.5rem;
    padding: 0.75rem;
}
.chapter-nav{
    float: right;
    min-height: 2.5rem;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
}
.chapter-nav-item{
    margin-left: 0.75rem;
    font-family: 'Merriweather', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}
/* Rescaling font-size in the chapter nav dropdown */

.dropdown-item a{ 
    color: #000000;
    font-size: 1.5rem;
}

/* contact.html specific styles */

.contact-sheet{
    
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    font-family:'Roboto Slab', sans-serif;
    color: #000000;
 }
.contact-sheet h1, h5{
    padding: 0.75rem;
    text-align: center;
}
.contact-sheet form{
    padding: 0.75rem;
}
/* about.html specific styles */

.about-header{
    margin-top: 3rem;
    color: #fff;
    font-family: 'Merriweather', sans-serif;
    text-align: center;
    overflow: hidden;

}
.about-subheader{
    text-align: center;
    margin: auto;
    color: #fff;
    font-family:'Roboto Slab', sans-serif;
}

.carousel-container{
    margin: auto;
    max-height: 640px;
    width: auto;
    overflow: hidden;
}
/* Styling the carousel images to resize properly within the container */

.carousel-img{
    height: 460px;
    width: 340px;
    margin: 0px;
}

/* Ensuring responsiveness on smaller screens, all pages */

@media screen and (max-width: 992px) {

    .hero-txt{
        margin-left:2.5rem;
        margin-right:2.5rem;
    }

    .col-sm-12{
        margin: 1rem, 0.75rem, 1rem;
        
    }
    
/* Including media-query for classes to ensure correct Navbar chapter-transition in the read-now-*html series of files on smaller screens. */
    
    .chapter-nav-item{
            margin-left: 2rem;
            font-family: 'Merriweather', sans-serif;
            text-decoration: none;
            color: #fff;
            font-size: 1rem;
        }
    .chapter{
        margin: 2.5vh;
    }
    .carousel-container{
        margin: auto;
        height: 720px;
        width: auto;
        overflow: hidden;
    }
    .carousel-funfact{
        margin: 2vh;
        overflow: hidden;
    }
    /* Styling the carousel images to resize properly within the container */
    
    .carousel-img{
        height: 260px;
        width: auto;
    }

    }
   
@media screen and (min-width: 992px){

    /* Manually added to html-elements on specific pages to disable scrolling when it is not needed. */

.locked-scroll{
    overflow: hidden;
}

}

 /*End of specific resolution media-query content*/