@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700|Roboto+Slab:400,500,600,700&display=swap');

/* Rem-compliance site-wide font styles*/

html { 
    font-size: 62.5%; /* 10px */
} 

/* Styles used on multiple pages */

.navbar{
    position: fixed;
    font-size: 1.5rem;
    top: 0%;
    width: 100%;
    z-index: 999999;
}
.bg-img{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../images/caesar_hero_img.jpg");
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
    }
.hero-txt{
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'Merriweather', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 3rem;
}
.footer-style{
    color: #fff;
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0px;
    margin-top: 5rem;
}
.footer-txt{
    font-family: 'Merriweather', sans-serif;
    text-align: center;
    font-size: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

/* index.html styles */


.theme-bg{
    font-family: 'Merriweather', sans-serif;
    background-color: #65272c;
    color: #fff;
}

.col-style{
  
    font-family: 'Merriweather', sans-serif;
    color: #fff;
    font-size: 1.5rem;
    padding-top: 0.75rem;
    margin-top: 1rem;
    
}
.cta-text{
    color: #fff;
    font-size: 1.2rem;
}
.cta-btn-style{
    font-family: 'Merriweather', sans-serif;
    min-height: 7rem;
    min-width: 9rem;
    font-size: 2rem;
    padding-top: 1.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
}

/* read-now.html specific styles */

.read-icon-styling{
    color: #65272c;
    background-color: #fff;
    margin: 0rem;
    padding: 0rem;
}

.chapter{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 3.75rem;
    min-width: 75vw;
    min-height: 10vh;
    background-color: #fff;
    color: black;
    border: 0.3rem;
    border-color: #000000;
    border-radius: 0.5rem;
}
.chapter-nav{
    float: right;
    min-height: 1rem;
}
.chapter-nav-item{
    margin-left: 0.75rem;
    font-family: 'Merriweather', sans-serif;
    text-decoration: none;
    color: #fff;
}

/* contact.html specific styles */

.contact-sheet{
    margin-top: 15rem;
    margin-bottom: 1rem;
    background-color: #fff;
    font-family:'Roboto Slab', sans-serif;
    color: #000000;
 }
.contact-sheet h1, h5{
    padding: 0.75rem;
    text-align: center;
}
.contact-sheet form{
    padding: 0.75rem;
}
/* about.html specific styles */

.about-style{
    color: #fff;    
    font-family:'Roboto Slab', sans-serif;
    margin: 1rem;
}
.about-header{
    margin-top: 2rem;
    color: #fff;
    font-family: 'Merriweather', sans-serif;
    text-align: center;

}
.about-subheader{
    margin: 0.75rem, 0, 0,75rem;
    color: #fff;
    font-family:'Roboto Slab', sans-serif;
}
.carousel-img-styles{
    border: 0.5rem;
    min-height: 25rem;
    width: 10vw;
    margin: 0.5rem, 1rem, 0.5vh;  
}
.carousel-caption{
    color: #fff;
    font-size: 1rem;
}

/* Ensuring responsiveness on smaller screens, all pages */

@media screen and (max-width: 992px) {
    .hero-txt{
        margin-left:2.5rem;
        margin-right:2.5rem;
    }

    .col-sm-12{
        margin: 1rem, 0.75rem, 1rem;
        
    }
        /* Including media-query for these two classes to ensure correct Navbar chapter-transition in the read-now-*html series of files on smaller screens. */
    
    .chapter-nav-item{
            margin-left: 2rem;
            font-family: 'Merriweather', sans-serif;
            text-decoration: none;
            color: #fff;
            font-size: 0.625rem;
        }
   
    }

 /*End of specific resolution media-query content*/